services:
  - type: web
    name: the-system-discord-bot
    env: node
    plan: starter
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: PORT
        value: 3000
